// Heading
%Heading-Desktop-Biggest {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
}

%Heading-Desktop-Middle {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
}

%Heading-Desktop-Small {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

%Heading-Desktop-Smallest {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 28px;

    letter-spacing: 0.03em;
}

// Paragraph
%Paragraph-Mobile-Regular {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;

    letter-spacing: 0.03em;
}

%Paragraph-Mobile-Bold {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 130%;

    letter-spacing: 0.03em;
}

%Paragraph-Desktop-Bold {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 138%;
    
    letter-spacing: 0.03em;
}

%Paragraph-Desktop-Regular {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138%;

    // letter-spacing: 0.03em;
}

// Other
%Other-Desktop-Buttons {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
}

%Other-Desktop-Contacts {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.03em;
}

%Other-Desktop-Links {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    
    letter-spacing: 0.03em;
    text-decoration-line: underline;
}

%Other-Desktop-Bold-Ulta-Small {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

%Other-Desktop-Regular-Ultra-Small {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}