* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
}

.content {
    width: 1110px;

    margin: auto;

    padding-top: 109px;
}

.big-rectangle {
    padding: 166px 260px;
    text-align: center;

    background: radial-gradient(104.05% 1175.96% at 6.6% 17.84%, rgba(217, 232, 255, 0.6) 0%, rgba(222, 245, 244, 0.6) 100%, rgba(241, 245, 250, 0.6) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 30px;
}

.title {
    font-size: 74px;

    background: radial-gradient(100% 1051.94% at 93.45% 0%, #7CACFC 0%, rgba(124, 172, 252, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(90.33deg, #838CFC -0.11%, #618DFA 50.03%, #6092FA 101.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}