.memo- {
    &container_education {
        background-image: url("../img/backgrounds/education-background.svg");
        background-size: contain;
        background-repeat: repeat-y;
        background-position: center;
    }

    &header_education {
        background:
            url("../img/backgrounds/header-background.svg") padding-box,
            linear-gradient(#F6FAFF, #F6FAFF) padding-box,
            $gradient-green border-box;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &title-block {
        &__title {
            &_education {
                background: $gradient-green;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
    
            }
        }
    }

    &article-button {
        &_education {
            background-image: $gradient-green; 
        }
    }

    &content-block {

        &__title_education {
            background: radial-gradient(100% 187.2% at 100% 100%, #42D987 0%, #78CD59 69.85%, #7BC952 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

    }
}