.memo- {
    &container {
        &_green {
            background-image: url("../img/backgrounds/education-background.svg");
            background-size: contain;
            background-repeat: repeat-y;
            background-position: center;
        }
    }

    &header {
        &_green {
            background:
                url("../img/backgrounds/header-background.svg") padding-box,
                linear-gradient(#F6FAFF, #F6FAFF) padding-box,
                $gradient-green border-box;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &header {
        &__title {
            &_green {
                @include header-title($gradient-green);
            }
        }
    }

    &title-block {
        &__title {
            &_green {
                @include article-title($gradient-green);
            }
        }
    }

    &article-button {
        &_green {
            @include button($gradient-green);
        }
    }

    &content-block {
        &__title {
            &_green {
                @include content-title($gradient-green);
            }
        }
    }
}