@media only screen and (max-width: 600px) {
    #memo-students-image {
        height: 222px;
        object-fit: cover;
        border-radius: 20px;
    }
    .memo-content-block_small__title {
        font-size: 16px;
        line-height: 15px;
    }
    .memo- {
        &container {

            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                background-size: 400%;
            }
        }

        &main-icon {
            display: none;
        }

        &nav-button {
            height: 32px;
            width: 32px;
            border-radius: 10px;
        }

        &nav-icon {
            height: 15px;
            width: 15px;
            margin: 5px;
        }

        &header {
            &__title {

                &_green,
                &_red,
                &_purpure,
                &_tiffany,
                &_main {
                    font-size: 32px;
                    line-height: 100%;

                    margin: 0 0 24px 0;
                }
            }

            &__arrow {
                display: none;
            }

            &__up-title {
                display: none;
            }

            &__subtitle {
                font-weight: 700;
                font-size: 14px;
                line-height: 130%;

                letter-spacing: 0.03em;

                margin: 0 0 24px 0;
            }

            &__buttons-section__row {
                gap: 12px;
                flex-direction: column;
                align-items: center;
                margin: 0 0 8px 0;
            }

            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                padding: 32px 0 16px 0;
                border-width: 1px;
                border-radius: 16px;
                background-position: center;
            }

        }

        &vk-logo {
            height: 16px;
        }

        &link-button {
            font-weight: 800;
            font-size: 12px;
            line-height: 12px;
            border-radius: 12px;
            border-width: 1px;

            padding: 10px 12px;
        }

        &link-button::before {
            border-radius: 12px;
            border-width: 1px;
        }

        &article-button {

            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                font-weight: 800;
                font-size: 12px;
                line-height: 12px;
                border-radius: 12px;
                border-width: 1px;

                padding: 12px 24px;
            }

            &_green::before,
            &_red::before,
            &_purpure::before,
            &_tiffany::before,
            &_main::before {
                border-radius: 12px;
                border-width: 1px;
            }
        }

        &title-block {
            padding: 32px 0 0 0;
            margin: 0 0 16px 0;

            &__article {
                display: none;
            }

            &__title {

                &_green,
                &_red,
                &_purpure,
                &_tiffany,
                &_main {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 110%;

                    margin: 0 0 4px 0;
                }
            }

            &__about {
                font-weight: 700;
                font-size: 11px;
                line-height: 130%;

                letter-spacing: 0.03em;
            }

            &__logo {
                height: 70px;
                object-fit: scale-down;

                margin: 0 0 16px 0;
            }
        }

        &article-block {
            &__line {
                display: none;
            }

        }

        &content-block {
            width: auto;
            padding: 15px 17px 16px 16px;
            margin: 0 0 8px 0;
            border-radius: 24px;

            &__img {
                border-radius: 24px;
                margin: 0 0 8px 0;
                &_widthfix {
                    width: auto !important;
                }
            }

            &__logo {
                height: 27px;
                margin: 0;
            }

            &_transparent {

                &_green,
                &_red,
                &_purpure,
                &_tiffany,
                &_main {
                    width: auto;
                    padding: 15px 17px 16px 16px;
                    margin: 0 0 8px 0;
                }

                &_green::before,
                &_red::before,
                &_purpure::before,
                &_tiffany::before,
                &_main::before {
                    border-radius: 16px;
                }
            }

            &__title {

                &_green,
                &_red,
                &_purpure,
                &_tiffany,
                &_main {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 22px;

                    margin: 0;
                }
            }

            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;

                letter-spacing: 0.03em;
            }
        }

        &files-row {
            flex-direction: column;
        }

        &file {

            margin: 0;

            &__icon {
                height: 36px;
            }

            &__name {
                max-width: 119px;
            }

            &__name,
            &__size {
                font-weight: 700;
                font-size: 10px;
                line-height: 110%;
            }
        }

        &embedded-ol {
            margin-left: 12px;
        }

        &footer {

            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                padding: 16px 30px;
            }

            &_green::before,
            &_red::before,
            &_purpure::before,
            &_tiffany::before,
            &_main::before {
                padding: 16px 30px;
                border-radius: 16px;
                border-width: 1px;
            }
        }
    }

}

@media (max-width: 1100px) {
    .memo-menu {
        color: #ffffff !important;
        margin: 8px 0 8px 0;

        &__top-row,
        &__bottom-row {
            display: flex;
            flex-direction: column !important;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__top-row {
            margin-bottom: 0;
        }

        width: 100%;

        &__main,
        &__education,
        &__help,
        &__non-education,
        &__digital-system {
            position: relative;

            border-radius: 30px;
            color: #ffffff !important;
            background-size: 110%;
            background-position: center;
            background-repeat: no-repeat;

            width: 50%;
            margin: 0 auto 16px;
        }

        &__main, &__education, &__help, &__non-education, &__digital-system {
            font-size: 40px;
            line-height: 38px;
        }

        &__main, &__education, &__help, &__non-education, &__non-education, &__digital-system {
            padding: 45px 0 45px 30px;
        }


        &__main::before,
        &__education::before,
        &__help::before,
        &__non-education::before,
        &__digital-system::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 30px;
            border: 3px solid transparent;
            background: $gradient-white border-box;
            -webkit-mask:
                linear-gradient(#fff 0 0) padding-box,
                linear-gradient(#fff 0 0);
        }

    }
}

@media (max-width: 1100px) {
    .memo-header__buttons-section__row {
        gap: 12px;
        flex-direction: column;
        align-items: center;
        margin: 0 0 8px 0;
    }
    .memo-article-block__content-column {
        margin: 0 auto;
        max-width: 535px;
        align-items: unset;
    }

    .memo-content-block_small {
        padding: 20px 22px;
        border-radius: 16px;
    }
    .memo-content-block_small__title {
        font-size: 21px;
        line-height: 21px;
    }

}

@media (max-width: 800px) {
    .memo-header_blue {
        padding: 32px 0 16px 0;
        border-radius: 16px;
    }
    .memo-header__title_blue {
        font-size: 32px;
        line-height: 100%;
    }
    .memo-tip {
        padding: 14px;
    }
    .memo-tip__icon {
        margin-right: 14px;
    }
    .memo-tip__title {
        font-weight: 800;
        font-size: 24px;
        line-height: 110%;
    }
    .memo-tip__small-icon {
        margin-bottom: 1px;
        padding: 0 2px;
        height: 11px;
    }
    .memo-tip__text {
        font-size: 14px;
        line-height: 138%;
    }
    .memo-menu {
        &__main, &__education, &__help, &__non-education, &__non-education, &__digital-system {
            padding: 30px 0 30px 30px;
            width: calc(100% - 30px);
        }
        &__main, &__education, &__help, &__non-education, &__digital-system {
            font-size: 34px;
            line-height: 24px;
        }
    }
}

@media(max-width: 600px) {
    .memo-content-block_small__title {
        font-size: 16px;
        line-height: 15px;
    }
    .memo-content-block_small {
        width: 109px;
    }
    .memo-article-block__content-column-double {
        justify-content: space-evenly;
    }
    .memo-menu {
        &__main, &__education, &__help, &__non-education, &__non-education, &__digital-system {
            font-size: 24px;
            margin-bottom: 8px;
            border-radius: 16px;
        }
        &__digital-system {
            margin-bottom: 0;
        }
        &__main::before, &__education::before, &__help::before, &__non-education::before, &__non-education::before, &__digital-system::before {
            border-radius: 16px;
        }
    }
}

@media(max-width: 400px) {
    .memo-article-block__content-column-double {
        justify-content: space-between;
    }
    .memo-content-block_small {
        padding: 16px 16px;
        margin-bottom: 8px;
    }
    .memo-article-block__content-column-double--first {
        margin-right: 8px;
    }
    .memo-content-block__img_widthfix {
        width: auto;
    }
}