@media only screen and (max-width: 600px) {
    .memo- {
        &container {
            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                background-size: 400%;
            }
        }

        &header {
            &__title {

                &_green,
                &_red,
                &_purpure,
                &_tiffany,
                &_main {
                    font-size: 32px;
                    line-height: 100%;

                    margin: 0 0 24px 0;
                }
            }

            &__arrow {
                display: none;
            }

            &__up-title {
                display: none;
            }

            &__subtitle {
                font-weight: 700;
                font-size: 11px;
                line-height: 130%;

                letter-spacing: 0.03em;

                margin: 0 0 24px 0;
            }

            &__buttons-section__row {
                gap: 12px;

                margin: 0 0 8px 0;
            }

            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                padding: 32px 0 16px 0;
                border-width: 1px;
                border-radius: 16px;
                background-position: center;
            }

        }

        &article-button {

            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                font-weight: 800;
                font-size: 12px;
                line-height: 12px;
                border-radius: 12px;
                border-width: 1px;

                padding: 12px 24px;
            }

            &_green::before,
            &_red::before,
            &_purpure::before,
            &_tiffany::before,
            &_main::before {
                border-radius: 12px;
                border-width: 1px;
            }
        }

        &title-block {
            padding: 32px 0 0 0;
            margin: 0 0 16px 0;

            &__article {
                display: none;
            }

            &__title {

                &_green,
                &_red,
                &_purpure,
                &_tiffany,
                &_main {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 110%;

                    margin: 0 0 4px 0;
                }
            }

            &__about {
                font-weight: 700;
                font-size: 11px;
                line-height: 130%;

                letter-spacing: 0.03em;
            }
        }

        &article-block {
            &__line {
                display: none;
            }
        }

        &content-block {
            width: auto;
            padding: 15px 17px 16px 16px;
            margin: 0 0 8px 0;
            border-radius: 16px;

            &_transparent {

                &_green,
                &_red,
                &_purpure,
                &_tiffany,
                &_main {
                    width: auto;
                    padding: 15px 17px 16px 16px;
                    margin: 0 0 8px 0;
                }

                &_green::before,
                &_red::before,
                &_purpure::before,
                &_tiffany::before,
                &_main::before {
                    border-radius: 16px;
                }
            }

            &__text {
                font-weight: 400;
                font-size: 11px;
                line-height: 130%;

                letter-spacing: 0.03em;
            }
        }

        &footer {

            &_green,
            &_red,
            &_purpure,
            &_tiffany,
            &_main {
                padding: 16px 30px;
            }

            &_green::before,
            &_red::before,
            &_purpure::before,
            &_tiffany::before,
            &_main::before {
                padding: 16px 30px;
                border-radius: 16px;
                border-width: 1px;
            }
        }
    }
}


@media (max-width: 1000px) {
    #memo-article-block__content {
        &--eductaion {
            max-width: 535px;
            margin: 0 auto;
            grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g";
            grid-template-columns: minmax(320px, 535px);
        }
    }
    #memo-content-block {
        &--disciplines-study {
            flex-direction: column;
        }
    }

    #memo-article-block__content {
        &--rating-system {
            max-width: 535px;
            grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g";
            margin: 0 auto;
        }
        &--digital {
            max-width: 535px;
            grid-template-areas:
            "a"
            "b"
            "c"
            "e"
            "d"
            ;
            margin: 0 auto;
        }

        &--boiling-point {
            max-width: 535px;
            grid-template-rows: auto;
            grid-template-areas:
            "a"
            "b"
            "c"
            "e"
            "d"
            ;
            margin: 0 auto;
        }
        &--science-work {
            max-width: 535px;
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
            "a"
            "c"
            "e"
            "f"
            "b"
            "d"
            "g"
            ;
            margin: 0 auto;
        }
        &--foreign-education {
            max-width: 535px;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "g"
            "f"
            ;
            margin: 0 auto;
        }
    }

    #memo-content-block--room {
        margin-top: 0;
    }
    #memo-content-block--science-seminar {
        margin-top: 0;
    }
    #memo-content-block--cms {
        margin-top: 0;
    }

}
