.memo- {
    &container {
        max-width: 1110px;
        margin: auto;
        padding: 20px 15px 0 15px;
        padding-bottom: 10px;
    }

    &main-icon {
        margin-bottom: 31px;
    }

    &nav-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 64px;
        width: 64px;
        border-radius: 18px;

        &_control {

            & img {
                height: 25px !important;
                width: 25px !important;
            }

            z-index: 1000;
            height: 44px !important;
            width: 44px !important;
            border-radius: 14px;
            position: fixed;
            bottom: 10px;
            right: 15px;


            &:hover {
                & img {
                    animation-name: arrow-shake;
                    animation-duration: 1000ms;
                    animation-iteration-count: 1;
                    animation-timing-function: linear;
                }
            }
        }

        &_central {
            position: absolute;
            left: 0;
            right: 0;
            &-up {
                top: 45px;
            }
        }
        &_mainnavbtn {
            z-index: 10;
        }
        &_pagenav {
            width: fit-content;
            margin: 0 auto;
            position: relative;
            width: 64px;
            height: 64px;
            &-purpure {
                background: $gradient-purpure;
            }

            & a:first-child, & a:last-child {
                position: absolute;
            }
            & a:first-child {
                top: 0;
                left: 0;
            }
            & a:last-child {
                bottom: 0;
                right: 0;

            }
        }
    }



    &nav-button:hover .memo-nav-icon {
        transform: rotate(0deg);
    }

    &nav-icon {
        transform: rotate(-45deg);
        margin: 10px;

        transition: 600ms;
        &_norotate {
            transform: rotate(0deg);
        }
    }

    &header {

        &__up-title {
            margin: 24px 0 0 0;
            @extend %Other-Desktop-Contacts;
            color: #8692A4;
        }

        &__subtitle {
            @extend %Paragraph-Desktop-Bold;

            text-align: center;
            max-width: 322px;

        }

        &__arrow {
            margin: 16px 0 16px 0;
        }

        &__buttons-section {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__row {
                display: flex;
                flex-direction: row;
                gap: 24px;

                margin: 0 0 24px 0;
            }
        }
    }

    &title-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 0 0 0;
        margin: 0 0 32px 0;

        &__article {
            @extend %Other-Desktop-Contacts;
            color: #8692A4 !important;
        }

        &__about {
            @extend %Paragraph-Desktop-Bold;
            max-width: 583px;
            text-align: center;
        }

        &__logo {
            margin: 0 0 32px 0;
            mix-blend-mode: darken;
        }


    }

    &article-block {
        &__line {
            width: 100%;
            margin: 32px 0 0 0;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            position: relative;
        }
        &__content-column {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            &-double {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                &--first {
                    margin-right: 30px;
                }
            }
        }
        &__content-column + &__content-column {
            margin-left: 30px;
        }
    }

    &content-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        gap: 30px;
        isolation: isolate;
    }

    &content-block {
        background: #ffffff;
        border-radius: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px 30px 30px 32px;
        gap: 6px;

        margin: 0 0 32px 0;

        width: 473px;

        &__logo {
            margin: 0 auto 12px 0;
            max-height: 50px;
        }

        &__attachment {
            width: 100%;
        }

        &__text {
            @extend %Paragraph-Desktop-Regular;
        }

        &__small-text {
            @extend %Other-Desktop-Regular-Ultra-Small;
            color: $color-gray;
            font-weight: 700;
        }

        &__img {
            border-radius: 30px;
            padding: 20px 20px 15px 20px;
            background-color: #ffffff;
            margin-bottom: 30px;
        }

        &_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
        }

        &_small {
            background: #ffffff;
            border-radius: 30px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 30px 37px;
            gap: 6px;

            margin: 0 0 30px 0;

            width: 179px;

            &__title {
                @extend %Heading-Desktop-Smallest;
                background: $gradient-purpure;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-align: center;
            }
        }

        & .memo-article-button_tiffany {
            margin-top: 12px;
        }
    }


    &content-block_long {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 51px;

        padding: 20px 20px 20px 30px;
        width: calc(100% - 50px);
    }

    &article {

        &-button {

            &_green::before,
            &_red::before,
            &_purpure::before,
            &_tiffany::before,
            &_main::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 20px;
                border: 3px solid transparent;
                background: $gradient-white border-box;
                -webkit-mask:
                    linear-gradient(#fff 0 0) padding-box,
                    linear-gradient(#fff 0 0);
            }
        }
    }

    &article-button {

        &_green:hover,
        &_red:hover,
        &_purpure:hover,
        &_tiffany:hover,
        &_main:hover {
            transform: scale(1.05);
        }
    }

    &files-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        margin: 0 0 22px 0;
    }

    &files-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 11px;
    }

    &files-block {
        gap: 11px;
    }

    &file {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        margin: 0 31px 0 0;

        &__text {
            margin: 0 0 0 15px;
        }

        &__name {
            max-width: 156px;
            @extend %Other-Desktop-Bold-Ulta-Small;
            color: #000000;
        }

        &__size {
            @extend %Other-Desktop-Bold-Ulta-Small;
            color: $color-gray;
        }
    }

    &link-button {
        display: flex;
        flex-direction: row;
        align-items: center;

        position: relative;
        @extend %Other-Desktop-Buttons;
        color: #ffffff !important;
        padding: 16px;
        border-radius: 20px;
        margin: 0 auto;
        z-index: 10;
        width: max-content;
        transition: all .1s linear;
        & img {
            width: 32px;
            height: 32px;
            margin: 0;
        }
        &-vk {
            background-color: $color-blue;
        }

        &_inline {
            margin: 0;
        }

        &-human {
            background: $gradient-purpure;
        }
        &_central {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &_pagenav {
            top: 45px;
        }
        &_outlink {
            &-up {
                top: 200px;
            }
            &-middle {
                top: 50%;
                transform: translateY(-50%);
            }
            &-down {
                bottom: 154px;
            }
        }

    }


    &link-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        border: 3px solid transparent;
        background: $gradient-white border-box;
        -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    }

    &link-button:hover {
        transform: scale(1.05);
    }

    &pagenav-button {
        width: 64px;
        height: 64px;
        display: block;
        border-radius: 18px;
        &_box {
            width: 64px;
            height: 64px;
            margin: 0 auto;
            position: relative;
            transition: all .2s linear;
            border-radius: 18px;
            &-purpure {
                background: $gradient-purpure;
            }
            &-red {
                background: $gradient-red;
            }
            &-green {
                background: $gradient-green;
            }
            &-tiffany {
                background: $gradient-tiffany;
            }
            &-main {
                background: $gradient-main;
            }


            &:hover {
                border-radius: 30px;
                & .memo-pagenav-button_arrow {
                    opacity: 1;
                }
            }

            &-horizontal {
                margin: 0;
                & .memo-pagenav-button_cubes {
                    border-radius: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                & .memo-pagenav-button_arrow-up  img{
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
                & .memo-pagenav-button_arrow-down img{
                    transform: translate(-50%, -50%) rotate(-90deg);
                }

            }


            &-horizontal:hover {
                width: 192px;
                & .memo-pagenav-button_arrow {
                    z-index: 0;
                }
                & .memo-pagenav-icon_rotated {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }
            &-vertical {
                & .memo-pagenav-button_cubes {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &-vertical:hover {
                height: 192px;
                transform: translateY(-64px);

                & .memo-pagenav-button_arrow-up {
                    border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                & .memo-pagenav-button_arrow-down {
                    border-top-right-radius: 0px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                }
                & .memo-pagenav-button_cubes {
                    border-radius: 0;
                }
                & .memo-pagenav-icon_rotated {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }

        }
        &_arrow {
            position: absolute;
            opacity: 0;
            &-up {
                top: 0;
                left: 0;
            }
            &-down {
                bottom: 0;
                right: 0;
            }
        }
        &_cubes {
            position: absolute;
        }

        &_arrow-up, &_arrow-down, &_cubes {
            transition: all .2s linear;
        }
    }
    &pagenav-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &_rotated {
            transform: translate(-50%, -50%) rotate(-45deg);
            transition: all .2s linear;
        }
    }

    &embedded-ol {
        margin-left: 24px;
    }

    &footer {

        &_green,
        &_red,
        &_purpure,
        &_tiffany,
        &_main {
            padding: 32px 262px 32px 262px;
            @extend %flex-center;
            position: relative;
            margin: 0 0 10px 0;

            & .memo-header__subtitle {
                margin: 0 0 24px 0;
            }
        }

    }
}

@keyframes arrow-shake {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(20deg);
    }
    66% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.memo-content-block_transparent_tiffany,
.memo-content-block {
    & .memo-article-button_tiffany {
        margin-top: 12px;
    }
}

.memo-content-block_transparent_green,
.memo-content-block_transparent_red,
.memo-content-block_transparent_purpure,
.memo-content-block_transparent_tiffany,
.memo-content-block_transparent_main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 30px 32px;
    gap: 6px;
    margin: 0 0 32px 0;

    width: 473px;
}

.memo-button-up {
    background: radial-gradient(72.75% 306.89% at 117.32% 115.77%, rgba(0, 38, 255, 0.7) 0%, rgba(122, 141, 251, 0) 100%);
    border-radius: 18px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &__picture {
        max-width: 28px;
        max-height: 28px;
    }
}

.memo-contact-top {
    z-index: 10;
}
