@import 'base/fonts';
@import 'base/reset';

@import 'styles/text-styles';
@import 'styles/colors';

@import 'pages/main';
@import 'pages/education';
@import 'pages/help';
@import 'pages/digital-system';
@import 'pages/non-education';

@import 'layouts';

.memo- {
    &body {
        background-color: #F6FAFF;
    }

    &container {
        max-width: 1110px;
        margin: auto;

        padding: 0 15px;
    }

    &header {
        @extend %flex-center;
        margin: 0 0 30px 0;
        border-radius: 64px;
        border: 2px solid transparent;
        padding: 126px 262px 32px 262px;

        &__up-title {
            @extend %Other-Desktop-Contacts;
            color: #8692A4;
        }
        
        &__small-text {
            @extend %Paragraph-Desktop-Bold;

            text-align: center;
            max-width: 322px;

            margin: 0 0 15px 0;

        }

        &__title {
            @extend %Heading-Desktop-Biggest;
            background: $gradient-green;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

            margin: 0 0 59px 0;

        }

        &__buttons-section {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__row {
                display: flex;
                flex-direction: row;
                gap: 24px;

                margin: 0 0 24px 0;
            }
        }

    }

    &article-button {
        @extend %Other-Desktop-Buttons;
        color: #ffffff;
        padding: 15px 36px 17px 36px;
        background-image: $gradient-green; 
        border-radius: 20px;

        width: max-content;
    }
    &menu {
        color: #ffffff;
        margin-bottom: 30px;

        &__top-row,
        &__bottom-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__top-row {
            margin-bottom: 30px;
        }

        &__main,
        &__education,
        &__help,
        &__non-education,
        &__digital-system {
            @extend %Heading-Desktop-Middle;
            border-radius: 30px;
            color: #ffffff;

            background-size: cover;
            background-repeat: no-repeat;
        }

        &__main {
            padding: 55px 0 55px 30px;
            width: 290px;
            background-image: url("./img/mesh/main-gradient.svg");
        }

        &__education {
            padding: 55px 0 55px 30px;
            width: 370px;
            background-image: url("./img/mesh/education-gradient.svg");
        }

        &__help {
            padding: 55px 0 55px 30px;
            width: 290px;
            background-image: url("./img/mesh/help-gradient.svg");
        }

        &__non-education {
            padding: 69px 0 71px 30px;
            width: 505px;
            background-image: url("./img/mesh/non-education-gradient.svg");
        }

        &__digital-system {
            padding: 69px 0 71px 30px;
            width: 505px;
            background-image: url("./img/mesh/digital-system-gradient.svg");
        }

    }

    &tip {
        background: radial-gradient(105% 1036.66% at 89.06% 16.54%, rgba(217, 232, 255, 0.6) 0%, rgba(217, 232, 255, 0.6) 0.01%, rgba(222, 245, 244, 0.6) 100%, rgba(241, 245, 250, 0.6) 100%);

        padding: 40px 40px 41px 40px;
        border-radius: 30px;
        margin-bottom: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__icon {
            margin-right: 35px;
        }

        &__title {
            @extend %Heading-Desktop-Middle;
            background: radial-gradient(100% 1051.94% at 93.45% 0%, #7CACFC 0%, rgba(124, 172, 252, 0) 100%), linear-gradient(90.33deg, #838CFC -0.11%, #618DFA 50.03%, #6092FA 101.23%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-bottom: 6px;
        }

        &__text {
            @extend %Paragraph-Desktop-Bold;
            color: #1D1D1F;
            max-width: 650px;
        }

        &__small-icon {
            margin-bottom: -3px;
            padding: 0 2px;
        }

        &__small-icon_wide {
            padding: 0 5px;
        }

        .close-icon {
            cursor: pointer;
        }
    }

    &article-block {
        margin: 0;
    }

    &content-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        isolation: isolate;

    }

    &content-block {
        // background: rgba(255, 255, 255, 0.65);
        background: #ffffff;
        border-radius: 30px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 30px 30px;

        margin: 0 0 32px 0;

        width: 535px;

        &__title {
            @extend %Heading-Desktop-Small;
            margin: 0 0 6px 0;
        }

        &__text {
            @extend %Paragraph-Desktop-Regular;
        }

    }

    &content-block_long {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 51px;

        padding: 20px 20px 20px 30px;
        width: calc(100% - 50px);
    }

    &title-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 0 32px 0;

        &__article {
            @extend %Other-Desktop-Contacts;
            color: #8692A4;
        }

        &__title {
            @extend %Heading-Desktop-Middle;

            margin: 0 0 16px 0;

            &_education {
                background: $gradient-green;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;

            }
        }

        &__about {
            @extend %Paragraph-Desktop-Bold;
        }

    }

    &education-background {
        position: absolute;
        width: 1616.31px;
        height: 10241.9px;
        left: 212.16px;
        top: 328.49px;
        z-index: -1000;
    }

}


@media only screen and (max-width: 600px) {
    .memo- {
        &header {
            padding: 70px 60px 20px 60px;

            &__title {
                font-size: 50px;
            }

            &__small-text {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}